
.form-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-color: var(--light-green);
	padding: 2rem 1rem 0;

}

.form{
	width: 25rem;
	max-width: 100%;
	background-color: var(--white);
	margin-top: 5rem;
	padding: 1rem;
	border-radius: 0.3rem;
	border: solid 0.1rem var(--black);
  	transition: ease-in-out 0.3s;
}

.form-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form form{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: bisque; */
	text-align: start;

}

.input-section{
	width: 100%;
	margin-bottom: 1rem;
}

.form p{
	display: contents;
}

.input-section input{
	width: 100%;
	height: 2.3rem;
	padding: 0 0.3rem;
}

.button-group{
	width: 100%;
}

.button-group button{
	width: 100%;
	margin-bottom: 1rem;
	background-color: var(--dark-green);
	padding: 0.2rem 0;
	
}

.button-group button:last-child{
	background-color: var(--red);
}

.register a{
	color: #3AB0FF;
	font-size: 1rem;
	
}