
.home-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--light-green);
	padding-top: 7rem;
}


.home-buttons{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70vh;
	padding: 0 1rem;
}

.home-buttons button{
	width: 15.5rem;
	max-width: 100%;
	height: 3rem;
	margin: 0.5rem 0;
	font-size: 1.5rem;
	background-color: var(--red);
}

.home-buttons button:first-child{
	background-color: var(--dark-green);
}

/* .home-container img{
	position: absolute;
	bottom: -3rem;
	right: -3rem;
	z-index: ;
} */


.about-section{
	max-width: 1200px;
	text-align: start;
	padding: 0 1rem;
	font-size: 1.1rem;
}
.about-section h2{
	text-align: center;
}
.about-section p {
	margin: 1rem 0;
}