
.home-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-color: var(--light-green);
}
.home-buttons{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-buttons button{
	width: 12rem;
	height: 3rem;
	margin: 0.3rem 0;
	font-size: 1.5rem;
	background-color: var(--red);
}

.home-buttons button:first-child{
	background-color: var(--dark-green);
}

/* .home-container img{
	position: absolute;
	bottom: -3rem;
	right: -3rem;
	z-index: ;
} */