footer{
	padding: 0 1rem;
	margin-top: 10rem;
	background-color: var(--dark-green);
	height: 7rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
}