@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

:root{
  --black: #000;
  --white: #fff;
  --light-green: #B9F8D3;
  --dark-green: #53BF9D;
  --red: #F94C66;
  --grey: #D9D9D9;
  --blue: #A5BECC;
}

.App {
  text-align: center;
  position: relative;
  padding-bottom: 10rem;
  background-color: var(--light-green);
  min-height: 100vh;
}

h1{
  color: var(--black);
}

h2{
  color: var(--black);
}

a{
  text-decoration: none;
  color: var(--black);
  font-size: 1.3rem;
  transition: ease-in-out 0.3s;
}

a:hover{
  color: var(--red);
}

li{
  list-style: none;
}

button{
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 0.3rem;
	border: solid 0.1rem var(--black);
  transition: ease-in-out 0.3s;

}

button:hover{
 transform: scale(0.9);
}